body {
    background-image: url(https://media.gettyimages.com/photos/bruce-dickinson-and-drummer-clive-burr-performing-with-iron-maiden-at-picture-id121398948?s=2048x2048);
    background-size: cover;
}

p {
    margin: 0;
    padding-bottom: 10px;
}

#keyA {
    width: 100px;
    height: 100px;
    background-color: rgba(1, 1, 1, 0.5);
    color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}